<?xml version="1.0"?>
<configuration>
  <packageConfigs>
    <!-- The path to the Primary package file. -->
    <add key="SchemaPath" value="product.xsd" />
    <!-- The path to the legacy configuration file -->
    <add key="LegacyApplicationsPath" value="Legacy\Legacy.xml" />
    <!-- The path to the Primary package file. -->
    <add key="PrimaryPackagePath" value="App\product.xml" />
    <!-- The directory containing the Accessory package files. -->
    <add key="PostPackagePath" value="Post\product.xml" />
    <add key="AccessoryDirectory" value="Extras" />
    <!-- The path to the post install package file. -->
    <add key="UpdatesPackagePath" value="Updates\product.xml" />
    <!-- The path to the Installer log file -->
    <add key="LogPath" value="%LOCALAPPDATA%\Installer.log" />
  </packageConfigs>
</configuration>